#calculator-form{
  margin: 0% 25%;
  border: 1px solid black;
  text-align: center;
  background-image: url(https://images.pexels.com/photos/281260/pexels-photo-281260.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)
}

.flex{
  display: flex;
  justify-content: center;
}


h1#title{
  display: inline-block;
  padding: 2%;
  color: white;
  font-size: 40px;
  text-shadow: 5px 5px 10px black;
}

form{
  margin: 0 auto;
  font-size: 25px;
}


input[type=text]{
  width: 80%;
  padding: 1.5%;
  font-size: 20px;
  border-radius: 5px;
  text-align: right;
  margin: 5px;
  box-shadow: 3px 3px lightskyblue;
}
input[type=text].input-field{
  width: 78%;
}
.submit-button{
  width: 25%;
}




input[type=submit]{
  background-color: blue;
  border: none;
  width: 83%;
  color: white;
  font-size: 21px;
  font-weight: bolder;
  padding: 2% 1.5%;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
  box-shadow: 3px 3px lightskyblue;
}

input[type=submit]:hover{
  cursor: pointer;
  opacity: .3;
  color: blue;
  background-color: white;
  text-shadow: 5px 5px 10px black;
  box-shadow: 3px 3px blue;

}

