.table-headers, .each-month-info{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 2% 5%;
  margin-bottom: 1.5%;
  border-bottom: 1px solid white;  

}

.table-headers * , .each-month-info * {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.table-headers{


}
